@font-face {
  font-family: "Barabara";
  src: url("assets/fonts/Barabara\ Regular.ttf");
}
@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf");
}

:root {
  --white: #ffffff;
  --prim-black: #212121;
  --silver: #c7c7c7;
  --seashell: #f1f1f1;
  --fun-blue: #19519f;
  --boston-blue: #4493c2;
  --sushi: #73bf45;

  --prim-text-color: var(--prim-black);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}
object {
  pointer-events: none;
}

.overlay {
  --overlay-bkgrd: var(--seashell);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: var(--overlay-bkgrd);
  transition: opacity 275ms ease-in-out;
  z-index: 1;
}
.overlay-fade-in {
  opacity: 0.9;
}

.navBar {
  --nav-bar-bkgrd: var(--white);
  --nav-bar-shadow: var(--silver);
  --nav-btn-bkgrd: var(--white);
  --nav-btn-hover-bkgrd: var(--seashell);
  --nav-btn-pseudo-bkgrd: var(--fun-blue);

  width: 100%;
  height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: var(--nav-bar-bkgrd);
  box-shadow: 0 0.1rem 0.4rem var(--nav-bar-shadow);
}
.navBar-logo,
.navMenu-logo {
  height: 6rem;
}
.navBar-frame {
  display: flex;
  flex-flow: row nowrap;
}

.navBar-btn,
.drpdwn-btn {
  width: 13rem;
  height: 6rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--nav-btn-bkgrd);
  border: none;
  list-style: none;
  font-family: "Barabara", "Bahnschrift", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--prim-text-color);
}

.navBar-btn::before,
.drpdwn-btn::before {
  content: "";
  width: 100%;
  height: 0.45rem;
  margin-top: 2rem;
  position: absolute;
  background: var(--nav-btn-pseudo-bkgrd);
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 275ms ease-in-out, transform-origin 275ms ease-in-out;
}
.navBar-btn:hover:before,
.navBar-btn:focus:before,
.drpdwn-btn:hover:before,
.drpdwn-btn:focus:before {
  outline: none;
  transform: scale(1) rotate(2deg);
  transform-origin: top;
}

.navBar-btn > span,
.navMenu-btn > span,
.drpdwn-btn > span {
  pointer-events: none;
}

.drpdwnIcon,
.accrdIcon {
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
  transition: transform 275ms ease-in-out;
}
.drpdwnIcon-flip,
.accrdIcon-flip {
  transform: rotate(-90deg);
}

.drpdwn {
  width: 100%;
  max-height: 0;
  padding-bottom: 1rem;
  position: absolute;
  top: 7rem;
  background: var(--nav-btn-bkgrd);
  list-style: none;
  overflow: hidden;
  transition: max-height 275ms ease-in-out;
  z-index: 1;
}

.drpdwn-collapse {
  max-height: 30rem;
}

.drpdwn--landscape {
  --drpdwn-btn-pseudo-bkgrd: var(--sushi);
}
.drpdwn--seascape {
  --drpdwn-btn-pseudo-bkgrd: var(--boston-blue);
}

.drpdwn-btn {
  margin: 0;
  height: 5rem;
  font-size: 1.2rem;
}
.drpdwn-btn::before {
  width: 80%;
  height: 0.4rem;
  background: var(--drpdwn-btn-pseudo-bkgrd);
}

.navBar-menuBtn {
  width: 5rem;
  height: 5rem;
  display: none;
  background: var(--nav-btn-bkgrd);
  border: none;
}
.navBar-menuBtn:hover,
.navBar-menuBtn:focus {
  background: var(--nav-btn-hover-bkgrd);
}
.menuIcon {
  width: 4.5rem;
  height: 4.5rem;
}

.navMenuFrame {
  margin-left: -100vw;
  width: min(80vw, 30rem);
  height: 100vh;
  position: fixed;
  z-index: 1;
  transition: margin-left 275ms ease-in-out;
}
.navMenu {
  --nav-menu-bkgrd: var(--white);
  --nav-menu-shadow: var(--silver);
  --nav-btn-bkgrd: var(--white);
  --nav-btn-hover-bkgrd: var(--seashell);

  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: var(--nav-menu-bkgrd);
  box-shadow: 0rem 0 0.4rem var(--nav-menu-shadow);

  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.navMenu-slide-right {
  margin-left: 0;
}

.navMenu-logo {
  width: 18.85rem;
}
.navMenuBtnFrame {
  margin-top: 2rem;
  width: 100%;
}

.navMenu-closeBtn {
  padding: 0.8rem;
  position: absolute;
  top: 1.5rem;
  left: min(80vw, 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: transparent;
  border: 0.45rem solid transparent;
  border-radius: 5rem;

  transition: border 275ms ease-in-out, opacity 275ms ease-in-out;
  z-index: 2;
}

.navMenu-closeBtn:hover,
.navMenu-closeBtn:focus {
  border-color: var(--fun-blue);
}

.navMenu-closeBtn-fade-in {
  opacity: 1;
}

.navMenu-btn {
  margin: 0.5rem 0;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-btn-bkgrd);
  border: none;
  list-style: none;
  font-family: "Barabara", "Bahnschrift", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--prim-text-color);

  .accrdIcon {
    margin-left: 0.5rem;
  }
}
.navMenu-btn:hover,
.navMenu-btn:focus {
  background: var(--nav-btn-hover-bkgrd);
}

.accrd {
  --accrd-btn-hover-bdr: var(--silver);

  width: 100%;
  max-height: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: var(--nav-menu-bkgrd);
  list-style: none;
  overflow: hidden;
  transition: max-height 275ms ease-in-out;
}

.accrd--landscape {
  --accrd-btn-hover-bdr: var(--sushi);
}
.accrd--seascape {
  --accrd-btn-hover-bdr: var(--fun-blue);
}

.accrd-collapse {
  max-height: 30rem;
}

.accrd-btn {
  width: 90%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barabara", "Bahnschrift", Helvetica, sans-serif;
  font-size: 1.2rem;
  background: var(--nav-btn-bkgrd);
  color: var(--prim-text-color);
}

.accrd-btn:hover,
.accrd-btn:focus {
  background: var(--nav-btn-hover-bkgrd);
  border: 0.1rem solid var(--accrd-btn-hover-bdr);
}

@media screen and (max-width: 800px) {
  .navBar-btn--about {
    display: none;
  }
  .navBar-btn--thoughts {
    display: none;
  }

  .navBar-menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navMenu-btn--landscape {
    display: none;
  }
  .navMenu-btn--seascape {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .navBar {
    padding: 0 2rem;
    justify-content: space-between;
  }
  .navBar-frame {
    display: none;
  }

  .navMenu-btn--landscape {
    display: flex;
  }
  .navMenu-btn--seascape {
    display: flex;
  }
}

.imgSlider {
  --slide-drction-btn-bkgrd: var(--prim-black);
  --slide-to-img-btn-bkgrd: var(--white);

  width: 100%;
  height: min(50rem, 75vw);
  position: relative;
  overflow: hidden;
}
.sliderFrame {
  height: 100%;
}
.sliderFrame-slide {
  transition: margin-left 500ms ease-in-out;
}
.imgSlider-img {
  margin-right: -0.25rem;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.imgSlider-slideDrctionBtn {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 45%;
  opacity: 0.5;
  background: var(--slide-drction-btn-bkgrd);
  border: none;
  border-radius: 5rem;
  transition: opacity 275ms ease-in-out;
}
.imgSlider-slideDrctionBtn:hover,
.imgSlider-slideDrctionBtn:focus {
  opacity: 1;
  cursor: pointer;
}
.imgSlider-slideDrctionBtn--left {
  left: max(2rem, 3vw);
}
.imgSlider-slideDrctionBtn--right {
  right: max(2rem, 3vw);
}
.imgSlider-slideDrctionBtn > object {
  width: 8rem;
  height: 8rem;
}
.imgSlider-slideDrctionBtn--right > object {
  transform: rotate(180deg);
}

.slideToImgBtnFrame {
  width: 18rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgSlider-slideToImgBtn {
  width: 1.2rem;
  height: 1.2rem;
  background: var(--slide-to-img-btn-bkgrd);
  border: none;
  border-radius: 5rem;
}
.imgSlider-slideToImgBtn:hover,
.imgSlider-slideToImgBtn:focus {
  background: var(--fun-blue);
  cursor: pointer;
}
.imgSlider-slideToImgBtn-active {
  background: var(--fun-blue);
}

@media screen and (max-width: 520px) {
  .imgSlider-slideDrctionBtn {
    width: 6rem;
    height: 6rem;
  }

  .imgSlider-slideDrctionBtn > object {
    width: 6rem;
    height: 6rem;
  }

  .imgSlider-slideToImgBtn {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .imgSlider-slideDrctionBtn {
    width: 5rem;
    height: 5rem;
  }

  .imgSlider-slideDrctionBtn > object {
    width: 5rem;
    height: 5rem;
  }
}

.elem-hide {
  display: none;
}
